<div class="container">

  <form  class="form-signin" action="/" method="POST">
    <h2 class="form-signin-heading">Enter the message to be encrypted</h2>
    <input id="inputMessage" class="form-control" placeholder="Message" type="text" name="message" required autofocus>
    <input id="inputMessage" placeholder="Offset" class="form-control" type="text" name="offset" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Encrypt!</button>
  </form>
  
</div>